[user]
	name = phi.ba
	email = phi.ba@yandex.com
[core]
	autocrlf = input
[credential]
	helper = cache
[includeIf "gitdir:~/IdeaProjects/tMob/"]
	path = .gitconfig-tmob
[alias]
	changes = ! git ls-files -m | git diff
	cm = commit -m
